:root {
    --main-color: #3537b9;
    --secondary-color: #f79d26;
    --light: rgba(250, 245, 242, 0.938);
    --dark: #14030d;
  
    --spacing: 8px;
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-4: calc(var(--spacing) * 4);
    --width-default:
  }
  
  body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    background-color: var(--main-color);
    color: var(--light);
    padding: var(--spacing-2);
  }
  
  main {
    width: calc(100% - var(--spacing-4));
    margin: auto;
  }
  
  a:any-link {
    color: var(--light);
    margin-left: var(--spacing);
    text-decoration: none;
  }
  
  /* update the code below to add custom properties */
  
  .items {
    --items-with:800px;
    --columns:4;
    width: var(--items-with);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light);
  }
  
  .items div {
    width: calc(
        (var(--items-with) - (var(--spacing) * 2 * var(--columns))) / var(--columns));

    


    padding:var(--spacing);
    margin: var(--spacing);
    border: 1px solid var(--secondary-color);
  }
  
  @media screen and (min-width: 600px) and (max-width: 800px) {
    .items {
    --items-with:600px;
    --columns:2;
      width: var(--items-with2);

    }
    .items div {
      width: calc(var(--items-with2) / var(--columns2));
    }
  }
  
  @media screen and (max-width: 600px) {
    .items {
      --items-with:100%;
      --columns:1;
      width: calc(var(--items-with3) - var(--spacing-4));
    }
    .items div {
      width: calc(100% - 16px);
    }
  }
  